/*************비닐스토어(060709)*****************/


@charset "euc-kr";

/*************Default Set*****************/
body { margin: 0px; padding: 0px;}
table { border-collapse: collapse;}
td { font-family:돋움, dotum, Arial, Helvetica; font-size:12px; color:#666666; line-height:16px; margin: 0px; padding: 0px; WORD-BREAK: break-all;}
img{ border:none;}
input{ font-family:돋움, dotum, Arial, Helvetica; font-size:11px; color:#666666; padding:2 2 0 2;} 
textarea{ font-family:돋움, dotum, Arial, Helvetica; font-size:12px; color:#666666; line-height:17px; padding:5px;}
select { font-family:돋움, dotum, Arial, Helvetica; font-size:11px; color:#666666 font-size:11px; margin-top:2px;}


a{selector-dummy:expression(this.hideFocus=true);}
a:link { color:#666666;text-decoration:none;}
a:visited { color:#666666;text-decoration:none;}
a:active { color:#666666;text-decoration:none;}
a:hover { color:#277BC9;text-decoration:none;}

.11px{ font-size:11px;}
.cBlue{ color:#277BC9;}
.cPurple{ color:#C46ACB;}
.title{padding:10 0 4 0;}
.no{font-family: verdana, Helvetica; font-size:9px;}
.adress{padding-top:2px; padding-left:5px; font-size:11px; height:20px;text-align:left; }
.adress a:hover {border-bottom:1px #277BC9 dotted;}

/*************scroll*****************/
#scroll{scrollbar-face-color: #A8D5ED; scrollbar-highlight-color: #A8D5ED; scrollbar-shadow-color: #A8D5ED; scrollbar-3dlight-color: #EDFBFF; scrollbar-arrow-color: #EDFBFF; scrollbar-track-color: #EDFBFF; scrollbar-darkshadow-color: #EDFBFF;}



/*************back*****************/
.gbackL{background:fixed #ECECEC url(../images/gback_l.gif) no-repeat right top; height:110px; }
.gbackR{background:fixed #ECECEC url(../images/gback_r.gif) no-repeat left top; height:110px; }
.logback{background:url(../images/l_01.gif) no-repeat left top; height:110px; padding:17 18 15 26; }
.logback2{background:url(../images/img16.gif) no-repeat left top; height:42px; padding:9 2 7 33; font-size:11px; line-height:14px; }

.seachback{background:url(../images/l_02.gif) no-repeat left top; height:100px; padding:25 13 10 16; }
.m01B{background:url(../images/l_g07.gif) no-repeat left top; height:75px; padding:7 5 5 59; }
.m02B{background:url(../images/l_g08.gif) no-repeat left top; height:75px; padding:7 5 5 59; }
.newsMback{background:url(../images/news_line.gif) repeat-x; height:18px; padding-top:3px; font-size:11px; }

/*************footer*****************/
.fbackL{background:url(../images/fbox_l.gif) no-repeat left top; width:10px; height:90px; }
.fbackR{background:url(../images/fbox_r.gif) no-repeat right top; width:10px; height:90px; }
.fbackC{background:url(../images/fbox_b.gif) repeat-x; height:90px; }
.fL{background:url(../images/f_l.gif) no-repeat left top; width:5px; }
.fP{padding:0 7 0 7;}

/*************rbox*****************/
.rBtop{background:url(../images/r_top.gif) no-repeat left top;height:13px; }
.rBh{background:url(../images/r_header.gif) no-repeat left top;height:38px; padding:0 20 8 20; }
.rBhline{background:url(../images/header/line01.gif) no-repeat left top; width:1px; }
.rBbm{background:url(../images/r_bottom.gif) no-repeat left top;height:13px; }
.rBc{background:url(../images/r_back.gif) repeat-y; padding:5 20 5 20;}
.rBc02{height:24px; padding:2 4 2 4;}
.rBline{background:url(../images/r_line.gif) repeat-x; height:1px; }
.rBline02{background:url(../images/b_line01.gif) repeat-x; height:1px; }

/*************h*****************/
.h5{ height:5px;}
.h10{ height:10px;}
.h15{ height:15px;}
.h20{ height:20px;}

/*************padding*****************/
.t2px{ padding-top:2px;}
.t2505px{ padding:2 5 0 5; font-size:11px;}


/*************box*****************/
.logbox{border:1px solid #489FD9 height:18px;}
.textbox{background-color:#EDFBFF; border:1px solid #A8D5ED; scrollbar-face-color: #A8D5ED; scrollbar-highlight-color: #A8D5ED; scrollbar-shadow-color: #A8D5ED; scrollbar-3dlight-color: #EDFBFF; scrollbar-arrow-color: #EDFBFF; scrollbar-track-color: #EDFBFF; scrollbar-darkshadow-color: #EDFBFF;}
.bbox{background-color:#EDFBFF; border:1px solid #8CC1E7;}
.nobdbox{background-color:#FFFFFF; border:0px solid #FFFFFF; padding:0 1 3 0; height:14px;}


/*************round table*****************/

.navi{ font-size:11px;}
.navi_last{ font-size:11px;color:#277BC9;}