BODY
{
   scrollbar-face-color: #F3F3F3;
   scrollbar-shadow-color: #CCCCCC;
   scrollbar-highlight-color: #CCCCCC;
   scrollbar-3dlight-color: #FFFFFF;
   scrollbar-darkshadow-color: #FFFFFF;
   scrollbar-track-color: #F2F2F2;
   scrollbar-arrow-color: #909090
}

TD  {font-family:"µ¸¿ò"; font-size: 9pt; line-height: 18px; color: #000000;}
TH  {font-family:"µ¸¿ò"; font-size: 10pt; line-height: 18px; color: #000000;}
a:link {font-family:"µ¸¿ò"; font-size: 9pt; color: #000000; text-decoration: none}
a:visited {font-family:"µ¸¿ò"; font-size: 9pt; color: #000000; text-decoration: none}
a:hover {font-family:"µ¸¿ò"; font-size: 9pt; color: #24DDDB; text-decoration: none}

/* ÀÔ·ÂÆû */
table.input_form_table {
	background-color:#ECE9D8;
}
table.input_form_table_topbottom {
	background-color:#F3F3F3;
}
td.input_form_title {
	background-color:#F8F5F0;
	color: #000000; font-family:  µ¸¿ò, gulim,verdana,hevetica; font-size: 9pt; ime-mode: active; line-height:1.6;
}
td.input_form_value {
	background-color:#FFFFFF;
	color: #000000; font-family:  ±¼¸², gulim,verdana,hevetica; font-size: 9pt; ime-mode: active; line-height:1.6;
}

td.input_form_value_11px {
	background-color:#FFFFFF;
	color: #000000; font-family:"dotum,µ¸¿òÃ¼,gulim,verdana,hevetica";font-size: 11px; ime-mode: active; line-height:1.6;
}

/* ¸ñ·ÏÆû */
table.list_form_table {
	background-color:#DDDDDD;
}
td.list_form_title {
	background-color:#F8F5F0;
	color: #000000; font-family:  ±¼¸², gulim,verdana,hevetica; font-size: 9pt; ime-mode: active; line-height:1.6;
	font-weight: bold;
}

/* ¸Þ´º */
td.menu_title {
	color: #000000; font-family:  ±¼¸², gulim,verdana,hevetica; font-size: 9pt; ime-mode: active; line-height:1.6;
	font-weight: bold;
}

.designer_text {
	BACKGROUND-COLOR: ffffff;
	BORDER : #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
	height:20px;
}
.designer_textarea {
	BACKGROUND-COLOR: ffffff;
	BORDER: #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
	overflow:auto;
}
.designer_select {
	BACKGROUND-COLOR: ffffff;
	border: #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size:8pt;
	height:20px;
}
.designer_button {color: #333333; font-family: "±¼¸²", "gulim"; font-size: 9pt; height:20px;}

.onmouseover { background-color:#F3F3F3; color:#000000;}
.onmouseout  { background-color:#FFFFFF; color:#000000;}

.designer_text_money {
	BACKGROUND-COLOR: ffffff;
	BORDER : #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
	width:50px;
	height:20px;
	text-align:right;
}

.page_block {
	font-size:11px;
}

.page_block_current{
	font-size:11px;color:#2B87CE;font-weight:bold;
}

.11px{font-family:"dotum,µ¸¿òÃ¼";font-size:11px;}
.cBlue{ color:#277BC9;}
.cPurple{ color:#C46ACB;}

.designer_help {color: #000000;font-family:"µ¸¿ò", "dotum";font-size:11px;line-height:18px;}