<style type="text/css">
FONT {	FONT-FAMILY:  ±¼¸², Gulim,verdana,hevetica; FONT-SIZE: 9pt}
TD {COLOR: #333333; FONT-FAMILY:  ±¼¸², Gulim,verdana,hevetica; FONT-SIZE: 9pt; IME-MODE: active; line-height:1.7;}

SELECT {FONT-FAMILY:  ±¼¸², Gulim; FONT-SIZE: 9pt;}
INPUT {COLOR: #333333; FONT-FAMILY: "±¼¸²", "Gulim"; FONT-SIZE: 9pt; height:20px;}
TEXTAREA {COLOR: #333333; FONT-FAMILY: "±¼¸²"; FONT-SIZE: 9pt}
A {COLOR: #252525; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A:hover {COLOR: #3399CC; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.head{COLOR: #0165A9; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.head:hover {COLOR: #333333; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.green {COLOR: #252525; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.green:hover {COLOR: #669900; FONT-SIZE: 9pt; TEXT-DECORATION: none}

td.item_title {
	background-color:#F8F5F0;
	COLOR: #000000; FONT-FAMILY:  ±¼¸², Gulim,verdana,hevetica; FONT-SIZE: 9pt; IME-MODE: active; line-height:1.7;
	font-weight: bold;
}

td.item_input {
	background-color:#FFFFFF;
	COLOR: #000000; FONT-FAMILY:  ±¼¸², Gulim,verdana,hevetica; FONT-SIZE: 9pt; IME-MODE: active; line-height:1.7;
}

td.current_select {
	COLOR: #000000; font-weight: bold; text-decoration:underline;
	BORDER : #000000 1px solid;
	BACKGROUND-COLOR: #669933;
}
A.current_select {COLOR: white; FONT-SIZE: 9pt; TEXT-DECORATION: none}
A.current_select:hover {COLOR: #cccccc; FONT-SIZE: 9pt; TEXT-DECORATION: none}

td.bold_red {
	COLOR: #CC0000; font-weight: bold; text-decoration:underline;
}

td.bold {
	COLOR: #669933; font-weight: bold;
}

td.under_line {
	text-decoration:underline;
}
.designer_text {
	BACKGROUND-COLOR: ffffff;
	BORDER : #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
}
.designer_textarea {
	BACKGROUND-COLOR: ffffff;
	BORDER: #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
}
.designer_select {
	BACKGROUND-COLOR: ffffff;
	BORDER : #aaaaaa 1px solid;
	font-family: "tahoma";
	font-size: 9pt;
	height : 20px;
}
.onmouseover { background-color:#F3F3F3; color:#000000;}
.onmouseout  { background-color:#FFFFFF; color:#000000;}
</style>